priorityClassName: "system-node-critical"
rollOutCiliumPods: false
updateStrategy:
  type: OnDelete
  rollingUpdate: null
k8sServiceHost: "{{ loadbalancer_apiserver.address }}"
k8sServicePort: "{{ loadbalancer_apiserver.port }}"
kubeProxyReplacement: true
autoDirectNodeRoutes: true
operator:
  replicas: 2
  podDisruptionBudget:
    enabled: true
    maxUnavailable: 1
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - topologyKey: kubernetes.io/hostname
          labelSelector:
            matchLabels:
              io.cilium/app: operator
bgpControlPlane:
  enabled: true
bpf:
  distributedLRU:
    enabled: true
  mapDynamicSizeRatio: 0.08
  masquerade: true
  datapathMode: netkit
bpfClockProbe: true
gatewayAPI:
  enabled: false
ipam:
  mode: "cluster-pool"
  operator:
    clusterPoolIPv4PodCIDRList: ["{{ kube_pods_subnet }}"]
    clusterPoolIPv4MaskSize: 24
ipv4:
  enabled: true
ipv4NativeRoutingCIDR: "{{ kube_pods_subnet }}"
envoy:
  enabled: false
routingMode: "native"
